


<div class="cont">
  <div class="card">
       <div class="form">
        
        <input class="input" [(ngModel)]="username" type="text" placeholder="twitter username">
        <input class="input" [(ngModel)]="count" type="number" placeholder="count">
        
         
              <input [(ngModel)]="datemin" class="date" type="date">
              <input [(ngModel)]="datemax" class="date" type="date">
          

        <button (click)="getSumary()">getSumary</button>
        <button (click)="getTweets()">get Tweets</button>
        <button *ngIf="save" (click)="saveTweets()">saveTweets</button>
        
        <div class="rescont">
            <textarea name="" class="responsejson" [(ngModel)]="json" id="" cols="100" rows="10"></textarea>
        </div>
        <div *ngIf="showData" class="userdata">
            <h2>response</h2>
            
            <li class="row">name : {{data.profileData.name}}</li>
            <li class="row">location : {{data.profileData.location}}</li>
            <li class="row">description : {{data.profileData.description}}</li>

            <li class="row">followers : {{data.userSummary.followers}}</li>
            <li class="row">location : {{data.userSummary.lists}}</li>
            <li class="row">reTweets_count : {{data.userSummary.reTweets_count}}</li>
            
            <li class="row">tweets : {{data.userSummary.statusCount}}</li>
            <ul>
                <li class="tweet" *ngFor="let tweet of data.tweets">
                  <span>Id : {{tweet.id}} <br></span>
                  <span>Text : {{tweet.tweet_text}}</span>
                </li>
              </ul>
            
         </div>
         
       </div>
       

       
  </div>
  
</div>

