
.card{

    margin: 0px;
   height: auto;

   float: left;
   width: 100%;
    background:rgb(78, 158, 102);
    box-shadow: 1px 1px 5px rgb(61, 122, 80);
}
.response{
    width: 100%;
    height: 400px;
    float: left;
}
.rescont{
    width: 100%;
    float: left;
}
.card .form{
    height: auto;

}

.userdata{
    float: left;
width: 100%;
}
li{
    list-style: none;
    padding: 10px;
    color: #fff;
    background:rgb(61, 122, 80);
    margin-top: 10px; 
}

.form input{
    padding: 10px;
    width: 23.88%;
    background: rgb(61, 122, 80);
    border: solid 0px;
    border-bottom: solid 2px rgb(48, 95, 63);
    color: #fff;
    
    float: left;
}
.datecont{
    width: 100% !important;
    float: left;
}
.date{
    
    border-right: solid 2px rgb(48, 95, 63) !important;
}
.form button{
    padding: 10px;
    margin-left: 10px;
    background: rgb(61, 122, 80);
    color: #fff;
    float: left;
    margin-top:10px;
    border: solid 0px;
}
.form button:hover{
    cursor: pointer;
    
}
.card h1{
    color: #fff;
    text-align: center
}
.cont{

}